<a class="company-logo-link block" href="/" title="Tioga Ventures">
  {# <svg class="inline" fill="currentColor" role="img" width="60" height="60">
    <use href="/images/logo/tioga-logo-color.svg#layer1"></use>
  </svg> #}
  <div class="text-3xl inline">
  <span class="text-white">tioga</span>
  <span class="text-blue-600 font-extrabold">|</span>
  <span class="text-white font-bold">ventures<span>
  </div>
</a>
