--- 
layout: default 
meta_title: Home 
meta_description: Tioga Ventures 
body_class: home 
title: Tioga Ventures 
---

<section class="flex flex-1 flex-col">
    {# <div class="relative">
        <p class="absolute text-3xl text-white inset-y-0 right-0 py-48 px-16">
          Let's get started...
        </p>
    </div> #}
    <img src="/images/frontpage-1.png" />
</section>

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">
        <div class="content">

            <p>Creating things is our jam.</p>

            <p>
Tioga Ventures is headed up by <a href="https://www.linkedin.com/in/johnthethird" target="_blank">John Lynch</a>, and includes a small group of passionate entrepreneurs and software engineers in Carlsbad, CA. 
</p>
            <p>
	We work with early-stage companies to get you from zero to one as quickly and efficiently as possible.  We can provide a mix of seed capital, mentorship, networking introductions, hiring advice, go-to-market strategies, as well as rock solid advice on the foundational architecture of your product. We do software development in-house, and specialize in building scalable, high impact mobile and web applications.  We pride ourselves on using the right tool for the job, and creating things that are built to last.  In today's software world, that doesn't mean building things that are heavy and indestructible, but rather flexible, loosely-coupled and able to adapt.
</p>
            <p>
            Our principals were involved with building large-scale Enterprise applications for Fortune 500 companies all over the world. We know how to work with large companies, but we know how to work with small start-ups as well, and we can scale our methodologies to meet the specific needs of your project.             </p>
</p>
            <h2 class="text-3xl">Want to get in touch?</h2>

            <p>Email <a href="/contact">John</a> and let's see if there is a fit!</p>

        </div>

    </section>

</main>