---
layout: default
meta_title: Home
meta_description: Tioga Ventures
body_class: home
title: Tioga Ventures
---

<section class="flex flex-1 flex-col">
  {#
  <div class="relative">
    <p class="absolute text-3xl text-white inset-y-0 right-0 py-48 px-16">
      Let's get started...
    </p>
  </div>
  #}
  <img src="/images/frontpage-1.jpg" />
</section>

<main
  id="main"
  class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none"
  tabindex="-1"
>
</main>
